* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.middle {
  margin: 0 auto;
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

main {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .middle {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  background-color: rgb(246, 247, 242);
}
main .middle form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
main .middle form label {
  font-size: 18px;
  font-weight: 500;
}
main .middle form input[type=text] {
  padding: 10px;
  border: none;
  font-size: 14px;
  border: 1px solid rgb(207, 207, 205);
}
main .middle form input[type=button] {
  padding: 10px;
  background-color: rgb(105, 91, 188);
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
}
main .middle ul#price_balance li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  background-color: white;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: rgba(167, 77, 77, 0.942);
}
main .middle table tbody tr {
  background-color: white;
}
main .middle table tbody tr td {
  padding: 10px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
main .middle table tbody tr td:nth-child(3) {
  cursor: pointer;
}
main .middle table tbody tr td:nth-child(3) i {
  padding: 10px;
  font-size: 18px;
  background-color: rgb(246, 247, 242);
}

label[data-error] input {
  border: solid 2px red;
}

label[data-error] {
  position: relative;
}

label[data-error]::after {
  content: attr(data-error);
  color: red;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 70px;
}

label {
  width: 100%;
}
label input {
  margin-top: 10px;
  width: 100%;
}

#notification {
  padding-top: 30px;
  gap: 5px;
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: fixed;
  gap: 30px;
  top: 0;
  right: 50px;
  z-index: -1;
}

#notification li {
  padding: 20px;
  background-color: rgb(246, 247, 242);
  width: 100%;
  font-size: 16px;
  color: #484847;
  border-radius: 15px;
}

.animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}

@keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
}
.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
          animation-name: bounceOutRight;
}

.title-desc {
  width: 400px !important;
  padding: 10px 20px !important;
}

#your_balance {
  font-size: 18px;
  font-weight: 700;
  color: #484847;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

#modal {
  width: 500px;
  padding: 15px 20px;
  display: grid;
  grid-template: "close" 30px "content" 50px "." auto/auto;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  /* Start position: out of view above */
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.open-modal {
  visibility: visible !important;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: slideDownCenter 0.5s ease-out forwards;
          animation: slideDownCenter 0.5s ease-out forwards;
}

@-webkit-keyframes slideDownCenter {
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 1;
  }
}

@keyframes slideDownCenter {
  0% {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    opacity: 1;
  }
}
.close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fa {
  cursor: pointer;
  grid-area: close;
  justify-self: end;
  font-size: 18px;
}

.content {
  grid-area: content;
}
.content p {
  font-size: 18px;
  font-weight: 500;
  color: #2b2b2b;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.button-container button {
  padding: 10px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */